<table>
  <tr>
    <th colspan="2">
      Your Order Status
    </th>
  </tr>
  <tr>
    <td><b>Client Name </b></td>
    <td><th:block th:text="${#request.getRemoteUser()}"></th:block></td>
  </tr>
    <td><b>Client IP Address</b></td>
    <td><th:block th:text="${#request.getRemoteAddr()}"></th:block></td>    </tr>
  <tr>
    <td><b>Client Browser</b></td>
    <td><th:block th:text="${#request.getRemoteHost()}"></th:block></td>
  </tr>
  <tr>
    <td><b>Balloon Color </b></td>
    <td><th:block th:text="${session.color}"></th:block></td>
  </tr>
  <tr>
    <td><b>Balloon Size </b></td>
    <td><th:block th:text="${session.size}"></th:block></td>
  </tr>
</table>
<form th:method="POST" th:action="@{/ConfirmationInfo}">
  <input type="submit" value="Log out">
</form>

<form th:method="GET" th:action="@{/orders}">
  <input type="submit" value="List all orders">
</form>
<form th:method="POST" th:action="@{/orders/newOrder}">
  <input type="submit" value="New order">
</form>


</section>