<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>WP lab - Delivery Info</title>

</head>
<body>
<header >
  <h1>Balloon Order page - Delivery information </h1>
  <hr/>
</header>
<div >
  <section>
    <form th:method="POST" th:action="@{/BalloonOrder.do}" id="deliveryForm">
      <div>
        Client Name: <th:block th:text="${session.user.getUsername()}"></th:block>
      </div>
      <div>
        <label for="date">Enter the order creation date:</label><br/>
        <input type="datetime-local" id="date" name="dateCreated" required>
      </div>
    </form>
  </section>
  <aside>
    <table >
      <thead >
      <tr>
        <th colspan="2" scope="col" >
          Your Order Status
        </th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td><b>Balloon</b></td>
        <td><th:block th:text="${session.color}"></th:block></td>
      </tr>
      <tr>
        <td><b>Balloon Size </b></td>
        <td><th:block th:text="${session.size}"></th:block></td>
      </tr>
      </tbody>
    </table>
  </aside>
</div>

<div>
  <input type="submit" value="Next" form="deliveryForm">
</div>

</body>
</html>