<form th:method="POST" th:action="@{/balloons}" id="submitForm"></form>
<h2>Choose balloon color:</h2>
<div th:each="balloon : ${balloons}">

    <input type="radio" name="color" th:value="${balloon.getName()}" form="submitForm">
    <th:block th:text="${balloon.getName()}"></th:block>
    <br/>
    <th:block sec:authorize="hasRole('ROLE_ADMIN')">
        <form th:method="DELETE" th:action="@{/balloons/delete/{id} (id=${balloon.getId()})}">
            <button type="submit">DELETE</button>
        </form>
    </th:block>
    <th:block sec:authorize="hasRole('ROLE_ADMIN')">
        <form th:method="GET" th:action="@{/balloons/edit/{id} (id=${balloon.getId()})}">
            <button type="submit">EDIT</button>
        </form>
    </th:block>
</div>
</br>
<input type="submit" form="submitForm" value="SUBMIT">
<th:block sec:authorize="hasRole('ROLE_ADMIN')">
    </br>
    <a href="balloons/add">Add new balloon</a>
</th:block>